In [31]:
import pandas as pd
import datetime

In [ ]:
train = pd.read_csv("C:/Users/grigt/Desktop/Data_Comp/sales_train.csv")
test = pd.read_csv("C:/Users/grigt/Desktop/Data_Comp/test.csv")
shops = pd.read_csv("C:/Users/grigt/Desktop/Data_Comp/shops.csv")
items = pd.read_csv("C:/Users/grigt/Desktop/Data_Comp/items.csv")
item_categories = pd.read_csv("C:/Users/grigt/Desktop/Data_Comp/item_categories.csv")
combined = [train, test]

Data fields

ID - an Id that represents a (Shop, Item) tuple within the test set

shop_id - unique identifier of a shop

item_id - unique identifier of a product

item_category_id - unique identifier of item category

item_cnt_day - number of products sold. You are predicting a monthly amount of this measure

item_price - current price of an item

date - date in format dd/mm/yyyy

date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33

item_name - name of item

shop_name - name of shop

item_category_name - name of item category

This dataset is permitted to be used for any purpose, including commercial use.

In [22]:
train.head(20)

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0   02.01.2013               0       59    22154      999.00           1.0
1   03.01.2013               0       25     2552      899.00           1.0
2   05.01.2013               0       25     2552      899.00          -1.0
3   06.01.2013               0       25     2554     1709.05           1.0
4   15.01.2013               0       25     2555     1099.00           1.0
5   10.01.2013               0       25     2564      349.00           1.0
6   02.01.2013               0       25     2565      549.00           1.0
7   04.01.2013               0       25     2572      239.00           1.0
8   11.01.2013               0       25     2572      299.00           1.0
9   03.01.2013               0       25     2573      299.00           3.0
10  03.01.2013               0       25     2574      399.00           2.0
11  05.01.2013               0       25     2574      399.00           1.0
12  07.01.2013               0       25     2574      399.00           1.0
13  08.01.2013               0       25     2574      399.00           2.0
14  10.01.2013               0       25     2574      399.00           1.0
15  11.01.2013               0       25     2574      399.00           2.0
16  13.01.2013               0       25     2574      399.00           1.0
17  16.01.2013               0       25     2574      399.00           1.0
18  26.01.2013               0       25     2574      399.00           1.0
19  27.01.2013               0       25     2574      399.00           1.0

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 134.4 MB

In [34]:
train['date'] = pd.to_datetime(train['date'])